.style-grid-xy-repeat {
  display: grid;
  // 使用repeat代替下面写法
  // grid-template-columns: 100px 100px 100px;
  // grid-template-rows: 100px 100px 100px;
  // 重复3次 100px
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  // 重复一个模式(注意后面的值没有,隔开)，相当于=>100px,50px,100px,50px,100px,50px
  // grid-template-columns: repeat(3, 100px 80px);
  // grid-template-rows: repeat(2, 100px 80px);

  .item {
    font-size: 4em;
    text-align: center;
    border: 1px solid #e5e4e9;
  }

  .item-1 {
    background-color: #b53471;
  }

  .item-2 {
    background-color: #ffcccc;
  }

  .item-3 {
    background-color: #ff4d4d;
  }

  .item-4 {
    background-color: #ffaf40;
  }

  .item-5 {
    background-color: #32ff7e;
  }

  .item-6 {
    background-color: #18dcff;
  }

  .item-7 {
    background-color: #7d5fff;
  }

  .item-8 {
    background-color: #0652dd;
  }

  .item-9 {
    background-color: #4b4b4b;
  }
}
